.cabecalho{
  background-color: #f2f2f2;
}

.nav-item .rosa:hover{
  color:pink;

}

.conteudo{
  background-color: gray;
}

.perfumaria{
  background-color: pink;
}

.artigos{
  background-color: #f2f2f2;
}

.produto{
  border-bottom: 1px solid black;
}